.blocos-superiores {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
}

.btn-ver-mais {
  background-color: var(--azul-claro);
<<<<<<< HEAD
  color:#fff;
=======
  color: #fff;
>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
<<<<<<< HEAD
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s;
}
.btn-ver-mais:hover{
    background-color: var(--azul-clarinho1);
    transform: scale(1);
    color: var(--cor-texto-escuro);
}

.cardBoxBottomTag {
  padding: 3% 0 3% 0;
  display: inline-flex;
  width: 30%;
}

=======
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-ver-mais:hover {
  background-color: var(--azul-escuro);
  transform: scale(1.03);
}

.cardBoxBottomTag {
  padding: 3% 0 3% 0;
  display: inline-flex;
  width: 30%;
}

>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
.cardBoxNotice {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.card-defesa {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
}

.card-defesa:hover {
  transform: scale(1.03);
}

.card-defesa h3 {
  color: var(--azul-claro);
  margin: 12px 0 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.card-defesa img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card-defesa p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #333;
  line-height: 1.3;
  margin: 0 0 10px 0;
  text-align: center;
}

.card-defesa span {
  font-size: 0.8rem;
  color: #555;
  margin-top: auto;
  text-align: center;
  display: block;
}

.card-noticia {
  background-color: #fff;
<<<<<<< HEAD
  align-items: center;
=======
>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
  border-radius: 10px;
  display: flex;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
<<<<<<< HEAD

  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;

  overflow-x: auto;    
  overflow-y: hidden;
}



=======
}

>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
.card-noticia:hover {
  transform: scale(1.02);
}

.card-noticia h3 {
  font-size: 0.9rem;
  color: var(--azul-escuro);
}

.card-noticia img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.card-noticia p {
  font-size: 0.8rem;
  margin: 4px 0;
}

.card-noticia span {
  font-size: 0.8rem;
  color: #555;
}

<<<<<<< HEAD
.cardNotice {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  background-color: #fff;  
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--sombra);
  width: 80vw;
  margin-left: 40px;
  margin-bottom: 10px;
  max-width: 1000px;
  min-width: 500px;
}
=======
>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602

.cards-defesas {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex: 1;
  padding: 10px 0;
}

.cards-defesas::-webkit-scrollbar {
  display: none;
}

.cards-noticias {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.cards-noticias a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.cards-noticias a:hover {
  text-decoration: none;
}

.carrossel-horizontal {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.carrossel-vertical {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-grow: 1;
}


.conteudo-linha {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 450px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 5px;
}

.container-ver-mais {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contentNotice {
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 5px;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  flex-grow: 1;
}

.continuar-lendo {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: var(--azul-claro);
  font-size: 0.5rem;
  font-weight: 600;
  padding: 6px 10px;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
}

.data {
  background-color: var(--azul-clarinho1);
  color: #111111;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  width: 60px;
  margin-right: 10px;
  flex-shrink: 0;
}

.data-noticia {
  color: #0000008a;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.dateEvent {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.6em;
}

.defesas {
  margin-top: 60px;
  margin-bottom: 20px;
}

.dia {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

.evento {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.eventos,
.linha-do-tempo {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.filterYearSelection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.fonte-notas {
  font-style: italic;
  font-size: 0.7rem;
  color: #0000008a;
}

.h2 {
  color: var(--marrom);
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.imageConteinerNotice {
  width: 25%;
  height: 90%;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
}

.imageNotice {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagem-noticia {
  width: 100%;
  border-radius: 10px;
  margin: 25px 0;
}

.info h3 {
  margin: 0;
  font-size: 0.9rem;
  color: #000;
}

.info p {
  margin: 2px 0 0 0;
  font-size: 0.8rem;
  color: var(--cor-texto-escuro);
}

.info-noticia-final {
  flex: 1;
  color: var(--cor-texto-escuro);
}

.info-noticia-final p {
  margin: 3px 0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.labelYearSelection {
  font-size: 1.1rem;
  font-weight: 600;
<<<<<<< HEAD
=======
  font-size: 1rem;
  display: inline-block;
>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
}

.linha-do-tempo {
  text-align: left;
}

.linha-verde {
  width: 70%;
  height: 1px;
  background-color: var(--verde-claro);
  margin-bottom: 20px;
}

.link-fale-conosco {
  display: block;
  text-align: center;
  background-color: var(--azul-escuro);
  color: var(--cor-texto-claro);
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}

.link-fale-conosco:hover {
  background-color: var(--azul-claro);
}

.mes {
  font-size: 0.9rem;
  text-transform: lowercase;
}

.mais-noticias {
  flex: 1;
  max-width: 25%;
}

.mais-noticias h3 {
  color: var(--marrom);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.mais-noticias a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.noticia-principal {
  flex: 3;
  color: var(--cor-texto-escuro);
}


.noticia-sugerida {
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-branco);
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--sombra);
  margin-bottom: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.noticia-sugerida:hover {
  transform: scale(1.02);
}

.noticia-sugerida div {
  padding: 10px 12px;
  position: relative;
  z-index: 2;
  background-color: var(--fundo-branco);
}

.noticia-sugerida h4 {
  font-size: 0.95rem;
  color: var(--azul-escuro);
  margin-bottom: 6px;
}

.noticia-sugerida img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.noticia-sugerida p {
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.noticia-sugerida span {
  font-size: 0.75rem;
  color: var(--texto-claro);
}

.pagina-noticia {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1300px;
  margin: 20px auto;
  padding: 0 20px;
}

.rodape-noticia {
  width: 100%;
  max-width: 900px;
  margin: 40px auto 0 auto;
  padding-top: 20px;
  border-top: 1px solid var(--sombra);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.seeMore {
  position: absolute;
  top: 6%;
  right: 4%;
  color: var(--cor-texto-escuro);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  flex-shrink: 0;
}

.seta-esquerda,
.seta-direita {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--verde-escuro);
  padding: 10px 0;
  transition: transform 0.2s;
}

.seta-esquerda:hover,
.seta-direita:hover {
  transform: scale(1.2);
}

<<<<<<< HEAD
.tagEvent {
  color:#fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0.6em;
  background-color: var(--azul-claro);
  border-radius: 3px;
  box-sizing: border-box;
  margin-left: auto;
  margin-bottom: auto;
}

=======
>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
.titleMonth {
  display: inline-block;
  position: relative;
  margin-bottom: 2vh;
  padding-bottom: 0.5vh;
  font-size: 20px;
}

.titleMonth::after {
  content: '';
  background-color: var(--verde-claro);
  height: 3px;
  width: 80vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.titleNotice {
  font-size: 1.5em;
  margin: 0;
  font-weight: 700;
}

.ver-todas {
  text-align: right;
  margin-top: 15px;
<<<<<<< HEAD
=======
  width: auto;              /* deixa o container só do tamanho do botão */
>>>>>>> bde84436c4e5c7b4668c75220098909bb6dfd602
}

.ver-todas a {
  display: inline-block;
  background-color: var(--azul-claro);
  color: var(--texto-claro);
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.2s;
}

.ver-todas a:hover {
  background-color: var(--azul-clarinho1);
  transform: scale(1);
  color: var(--cor-texto-escuro);
}

.yearSelection {
  background-color: var(--azul-claro);
  color:#fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.yearSelection option {
  background-color: var(--cor-texto-claro);
  color: var(--cor-texto-escuro);
}

@media (max-width: 768px) {
  .pagina-noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
  }

  .noticia-principal,
  .mais-noticias {
    width: 100%;
    max-width: 95%;
  }

  .mais-noticias {
    order: 2;
  }

  .noticia-principal {
    order: 1;
  }
}


