@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIÁVEIS */
:root {
    --cor-verde-primaria: #36794E;
    --cor-verde-secundaria: #55A357;
    --cor-verde-fundo: #e0f9d5;
    --cor-azul-primaria: #0F5289;
    --cor-azul-secundaria: #487DB4;
    --cor-azul-terciaria: #DDF1FB;
    --cor-fundo: #F8F9FA;
    --cor-fonte: #252525;
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-titulos: 'Libre Baskerville';
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    line-height: 1.6;
    background-color: var(--cor-fundo);
}

a {
    text-decoration: none;
    color: inherit;
}

/* 1. SEÇÃO DESTAQUE (ANÚNCIO) */

.anuncio {
    width: 100%;
    min-height: 60vh;
      height: auto;

    /* ocupa 80% da altura da tela */
    position: relative;
    overflow: hidden;
    /* impede que a imagem ultrapasse */
    background-color: var(--cor-fundo);
}

.anuncio_img {
    width: 100%;
    height: 100%;
    position: relative;
}

.imagem_anuncio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* faz preencher tudo sem distorcer */
    display: block;
}

.anuncio_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.2);
    /* leve sombra pra destacar o texto */
}

.anuncio_texto h1 {
    font-size: clamp(28px, 6vw, 60px);
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.anuncio_p {
    font-size: clamp(14px, 2.5vw, 20px);
    font-weight: 500;
    max-width: 800px;
    color: #fff;
}

/* 2. SEÇÃO ÁREAS DE PESQUISA */
.section-areas {
    padding: 50px 80px;
    background-color: var(--cor-fundo);
}

.areas-titulo {
    font-family: var(--fonte-principal);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.areas-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.area-card-fundo {
    background-color: var(--cor-azul-primaria);
    border-radius: 10px;
    width: 350px;
    height: 450px;
    padding: 5px 7px 10px;
}

.area-card {
    background-color: var(--cor-azul-terciaria);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.area-card:hover {
    transform: translateY(-8px);
}

.area-card p {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
}

/* 3. SEÇÃO PROJETOS */
.section-projetos {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    height: auto;
    background-color: var(--cor-verde-fundo);
    padding: 50px 80px;
    position: relative;
}

.linha-divisoria-projetos {
    background-color: var(--cor-verde-primaria);
    width: 90%;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.projetos-slogan {
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-fonte);
    margin-bottom: 20px;
}

.projeto-img {
    width: 90%;
    height: 600px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.imagem_projeto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.projeto-destaque-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
}

.projeto-destaque-titulo {
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-fundo);
    margin-bottom: 10px;
}

.projeto-destaque-p {
    font-size: 25px;
    color: var(--cor-fundo);
    margin-bottom: 30px;
}

.ver-projeto-bt {
    background-color: var(--cor-verde-secundaria);
    color: var(--cor-fundo);
    font-weight: 600;
    padding: 9px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.acesso-projetos-bt {
    background-color: var(--cor-verde-secundaria);
    color: var(--cor-fundo);
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 60px;
    right: 80px;

    display: flex;
    align-items: center;
    /* centraliza texto verticalmente */
    justify-content: center;
    /* centraliza texto horizontalmente */
    text-align: center;
}

.acesso-projetos-bt:active {
    background-color: var(--cor-verde-primaria);
    transform: scale(0.9);
}

/* 4. SEÇÃO NOTÍCIAS */
.noticia-section {
    padding: 50px 80px;
}

.noticia-titulo {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.linha-divisoria-noticia {
    background-color: var(--cor-azul-primaria);
    width: 90%;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.noticia-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px
}

.noticia-principal-card {
    border: 2px solid var(--cor-azul-primaria);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 750px;
    height: auto;
}

.noticia-principal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.noticia-principal-img {
    height: 400px;
    width: 100%;
    background-color: var(--cor-azul-secundaria);
    border-radius: 10px;
}

.noticia-principal-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.noticia-principal-texto {
    font-size: 24px;
    font-weight: 600;
}

.noticias-btn-fundo {
    background-color: var(--cor-azul-primaria);
    border-radius: 5px;
    width: 148px;
    height: 42px;
    padding: 3px;
    margin-top: 20px;
}

.noticias-btn {
    background-color: var(--cor-azul-terciaria);
    border-radius: 5px;
    width: 147px;
    height: 110%;
    font-weight: 600;
    color: var(--cor-azul-primaria);
    border: none;
}

.noticias-secundarias {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.noticias-secundarias-item {
    background-color: var(--cor-azul-secundaria);
    color: var(--cor-fundo);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

    .section-areas,
    .section-projetos,
    .noticia-section {
        padding: 30px 15px;
    }

    .anuncio {
        height: 40vh;
    }

    .anuncio_texto {
        font-size: 24px;
    }

    .area-card-fundo {
        width: 100%;
        max-width: 420px;
        height: 250px;
    }

    .section-projetos {
        height: auto;
    }

    .projetos-slogan {
        font-size: 22px;
    }

    .projeto-img {
        height: 350px;
    }

    .projeto-destaque-container {
        padding: 0 20px;
        justify-content: flex-end;
        padding-bottom: 20px;
    }

    .projeto-destaque-titulo {
        font-size: 24px;
    }

    .acesso-projetos-bt {
        position: static;
        width: 50%;
        margin-top: 30px;
    }

    .noticia-layout {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .noticia-principal-card {
        width: 100%;
        flex-direction: column;
    }

    .noticia-principal-img {
        height: 200px;
    }

    .projeto-destaque-titulo {
        font-size: 18px;
    }

    .projeto-destaque-p {
        font-size: 14px;
    }

    .areas-titulo,
    .noticia-titulo {
        font-size: 20px;
    }
}