@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ======================================
   VARIÁVEIS GERAIS
====================================== */
:root {
  --verde-escuro: #36794E;
  --verde-claro: #55A357;
  --verde-clarinho: #E0F9D5;

  --azul-escuro: #0F5289;
  --azul-claro: #487DB4;
  --azul-clarinho1: #DDF1FB;
  --azul-clarinho2: #BCE2F7;
  --azul-card: #d4e8f8;


  --marrom: #604639;
  --fundo-branco: #F8F9FA;
  --texto-escuro: #333;
  --texto-claro: #f0f2f5;
  --cor-texto-branco: #ffffff;
  --sombra: rgba(0, 0, 0, 0.3);

  --amarelo-ver: #D3D840;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Open Sans", Arial, sans-serif;
}

/* ======================================
   BASE
====================================== */
/* =====================
   REGRAS BÁSICAS
===================== */



body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--fundo-branco);
}

/* Mantém o conteúdo sempre ocupando o restante da tela */
main {
  margin: 0 auto;
  padding: 40px 30px;
  /* reduz o espaço lateral e superior */
  max-width: 95%;
}

/* Define comportamento padrão para links e imagens */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* ======================================
   TITULOS PADRAO
====================================== */

.titulo-secao {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  position: relative;
  display: inline-block;
  margin: 30px 0 10px 0;
  /* espaço antes do título */
  padding-bottom: 6px;
}

.titulo-secao::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 2px;
  background-color: var(--verde-claro);
  border-radius: 2px;
}

.titulo-post {
  font-weight: 550;
  color: var(--azul-escuro);
  line-height: 1.3;
  text-align: center;
  margin: 20px auto 15px auto;
  padding-bottom: 8px;
  position: relative;
  display: block;
}

/* ======================================
MENU HAMBURGUER 
====================================== */

.hamburguer {
  display: none;
}

/* Configuração básica das barrinhas */
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--cor-texto-branco);
  /* estava var(--verde-1) */
  border-radius: 2px;
  transition: 0.3s;
}

/* ======================================
   Texto principal (.texto-conteudo / .objetivo-pesquisa)
====================================== */

.texto-conteudo {
  max-width: 900px;
  margin: 20px auto;
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
  color: var(--texto-escuro);
}

.texto-subtitulo {
  max-width: 900px;
  margin: 20px auto;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
  color: var(--texto-escuro);
  font-weight: 600;
  /* leve negrito, mas ainda elegante */
}

/* ======================================
   BOTOES PARA COMPARTILHAR NOTICIAS
====================================== */

.compartilhar-noticia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  flex: 1;
  text-align: right;
}

.compartilhar-noticia p {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--azul-escuro);
  margin: 0;
}

.icones-compartilhar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icones-compartilhar svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icones-compartilhar svg:hover {
  transform: scale(1.2);
  opacity: 0.8;
}




/* ======================================
   HEADER
====================================== */
.headerTop {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background-color: var(--verde-escuro);
}

.imageLogo {
  height: 80px;
  aspect-ratio: 1 / 1;
  margin: auto 1.5vw auto 2.5vw;
  border-radius: 50%;
  padding: 5px;
  flex-shrink: 0;
}

.h1HEADER {
  color: var(--cor-texto-branco);
  font-size: clamp(16px, 2.2vw, 22px);
  white-space: normal;
  /* permite quebra */
  flex: 1;
}

.pagina-noticias .h1HEADER::first-line {
  font-size: 0.6em;
}

/* Barra de pesquisa */
.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 35px 0 auto;
  flex-shrink: 1;
  min-width: 150px;
}

.inputSearch {
  padding: 8px 40px 8px 15px;
  border-radius: 20px;
  border: none;
  width: 250px;
  font-size: 14px;
  outline: none;
}

.inputSearch::placeholder {
  color: #777;
}

.searchBtn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 35px;
  width: 35px;
}

/* Menu */
.headerBottom {
  background-color: var(--verde-claro);
  min-height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 8px 0;
}

.navBar {
  width: 100%;
  display: flex;
}

.ulNav {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 0;
  margin-left: 2.5vw;
  padding-left: 0;
}

.item-direita {
  margin-left: auto;
  margin-right: 50px;
}

.ulNav li:first-child {
  padding-left: 7.05vh;
}



.decorationHeaderMenu {
  display: block;
  text-decoration: none;
  color: var(--cor-texto-branco);
  font-size: 16px;
  transition: 0.5s;
}

.decorationHeaderMenu:hover {
  text-decoration: underline solid var(--verde-clarinho) 2px;
  transform: scale(1.2);
}

ul:hover .decorationHeaderMenu:not(:hover) {
  opacity: 0.7;
}

/* ======================================
   FOOTER
====================================== */

.footerDad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--marrom);
  color: var(--texto-claro);
  padding: 20px;
}

.footerSection {
  position: relative;
  width: 45%;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 2;
}

.logoFooterSection {
  flex: 1;
  padding: 2px;
}

.imageLogoFooter {
  max-width: 80px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.footerSection:first-child::after {
  content: '';
  background-color: var(--fundo-branco);
  height: 80%;
  max-height: 220px;
  width: 1.5px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.textFooter {
  text-decoration: underline solid var(--verde-claro) 0.5px;
  font-size: 18px;
  margin-bottom: 10px;
}

.emailLineFooter {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.imagensFooter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.imagensFooter a svg {
  max-width: 40px;
  height: auto;
}

.mapa-estilizado {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 15px var(--sombra);
  width: 90%;
  height: 200px;
}

#Map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0;
}

#Map p {
  font-size: small;
  margin: 0;
  text-align: left;
}

.buttonFooter {
  width: 180px;
  background-color: var(--verde-claro);
  border: none;
  color: var(--cor-texto-branco);
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 7px;
  margin: 2px 2px;
  box-shadow: -3px -3px 0 0 var(--verde-escuro);
}

#AdmAcess {
  display: flex;
  margin-top: 15px;
  align-self: flex-end;
  font-weight: 500;
  font-size: 15px;
  color: var(--cor-texto-branco);
  text-decoration: none;
}

/* ======================================
    COPYRIGHT 
====================================== */


.footer-copy {
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  color: var(--cor-texto-branco);
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.9;
}

/* ======================================
   RESPONSIVIDADE
====================================== */
@media (max-width: 768px) {

  main {
    margin: 0 auto;
    padding: 20px 10px;
    /* reduz o espaço lateral e superior */
    max-width: 100%;
  }

  .titulo-secao {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 25px 0 8px 10px;
    /* pequeno recuo e menos espaço vertical */
    padding-bottom: 4px;
  }

  .titulo-secao::after {
    width: 60%;
    /* linha mais curta pra caber melhor em telas pequenas */
    height: 2px;
  }

  .titulo-post {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
    margin: 15px auto 10px auto;
    padding-bottom: 6px;
  }

  .texto-conteudo {
    max-width: 100%;
    margin: 0px 15px;
    padding: 8px;
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: justify;
  }

  .texto-subtitulo {
    max-width: 100%;
    margin: 0px 15px;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    text-align: justify;
  }


  /* HEADER */
  .headerTop {
    height: auto;
    min-height: 60px;
    flex-wrap: wrap;
    padding: 5px 0;
  }

  .imageLogo {
    height: 80px;
    margin: auto 10px auto 15px;
  }

  .h1HEADER {
    font-size: clamp(18px, 5vw, 24px);
  }





  .headerBottom::-webkit-scrollbar {
    display: none;
  }

  .ulNav {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
    margin-left: 0;
    padding: 0 45px;
    scroll-snap-type: x mandatory;
  }

  .ulNav::-webkit-scrollbar {
    display: none;
  }

  .ulNav li {
    scroll-snap-align: center;
  }

  .decorationHeaderMenu {
    font-size: 1.1rem;
  }

  .ulNav li:first-child {
    padding-left: 0;
  }

  /* FOOTER */
  .footerDad {
    flex-direction: column;
    padding: 10px 8px;
    gap: 10px;
    text-align: center;
  }


  .footerSection {
    width: 95%;
    align-items: center;
    padding: 0;
  line-height: 1.4;
  }


  .footerSection:first-child::after {
    display: none;
  }

  .logoFooterSection {
    margin-bottom: 5px;
    /* antes estava 15px */
  }

  .emailLineFooter {
    justify-content: center;
  }

  .textFooter {
    margin-bottom: 5px;
    /* aproxima os textos */
    font-size: 16px;
    /* levemente menor */
  }

  .imagensFooter {
    justify-content: center;
    padding: 5px 0;
    /* reduz espaço vertical */
    gap: 10px;
  }

  .buttonFooter {
    width: 180px;
    min-width: 130px;
    padding: 8px 10px;
    /* botão mais compacto */
    font-size: 0.95rem;
  }

  #Map {
    width: 100%;
    padding: 10px 0 0 0;
    width: 95%;
    align-items: center;
    /* Centraliza os itens */
    text-align: center;
  }

  #Map p {
    margin: 0;
    text-align: center;
    font-size: small;
  }

  .mapa-estilizado {
    max-width: 100%;
  }

  #AdmAcess {
    align-self: center;
    margin-top: 20px;
  }

  /* ======================================
MENU HAMBURGUER 
====================================== */

  .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    z-index: 3000;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: var(--cor-texto-branco);
    border-radius: 2px;
  }

  /* Esconde o menu até clicar */
  .ulNav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--verde-claro);
    position: absolute;
    top: 100%;
    gap: 0;
    width: 220px;
    padding: 10px 40px;
    margin: 0;
    list-style: none;
    z-index: 2000;
    margin-left: 0 !important;
  }

  /* Mostra o menu quando clicado */
  .ulNav.active {
    display: flex !important;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Estilo dos links */
  .ulNav.active li a {
    color: var(--cor-texto-branco);
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 0;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: color 0.3s ease, transform 0.1s ease;
  }

  .ulNav.active li a:hover {
    color: var(--verde-clarinho);
    transform: translateX(3px);
  }

  .item-direita {
    margin-left: 0;
    margin-right: 50px;
  }

  .ulNav li {
    margin: 10px 0;
  }

  .ulNav li a {
    color: var(--cor-texto-branco);
    font-size: 16px;
    font-weight: 400;
    align-items: flex-start;
  }

  /* Esconde a barra de busca */
  .searchBar {
    display: none;
  }

  /* Garante que o container não corte o menu */
  .headerBottom {
    overflow: visible;
    position: relative;
    height: auto;
    padding: 8px 0;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--verde-escuro) !important;
  }


  .decorationHeaderMenu {
    display: flex;
    color: var(--cor-texto-branco);
    font-size: 16px !important;
    transition: 0.5s;
  }
}